<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin</title>
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
     integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body class="admin">
    <header class="fixed-top">
        <div class="nav-container">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="/admin"><img src="/img/logo_5000x1500.png" alt="Band+"></a>
                
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> 
                        <a class="nav-link" href="/admin">
                            <div class="nav-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/admin/faleConosco">
                            <div class="nav-icon">
                                <i class="fas fa-headset"></i>
                            </div>
                            <p>Fale Conosco</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-icon-avatar dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            <img src="<%= usuario.avatar %>" alt="Foto de Perfil" class="avatar-nav">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <p class="dropdown-item">Olá, <%= usuario.nome %> </p>
                            <a class="dropdown-item" href="/home">Voltar</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="admin-container">

        <% if (errors.length) { %>
            <div class="alert alert-danger" role="alert">
                <h5>Não foi possível alterar a senha...</h5>
                <hr>
                <ul class="error">
                    <% for( let i = 0; i < errors.length; i++ ) { %>
                        <li>- <%= errors[i].msg %>  </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
        
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tableUsuario">
                <% redeUsuarios.forEach(usuario => { %>
                    <tr id="<%= usuario.id_usuario %>">
                      <th scope="row"><%= usuario.id_usuario %></th>
                      <td><%= usuario.nome %></td>
                      <td><%= usuario.email %></td>
                      <td><a data-toggle="modal" data-target="#alterarSenha" href="#">Alterar</a></td>
                      <td><i class="fas fa-trash fa-lg" id="excluir<%= usuario.id_usuario %>"></i></td>
                    </tr>
                <% }) %>
            </tbody>
          </table>

        <div class="carregar">
            <button type="button" class="btn btn-carregar" id="carregarUsuario" value="1">Carregar +</button>
        </div>

        </section>

    <!-- Footer -->
    <footer>
        <ul class="list-unstyled">
            <li>
                <span class="copyright">Copyright &copy;
                    2020 -
                    <img src="/img/icone.png" width="20">
                    Band+ by Group 1
                </span>
            </li>
        </ul>
    </footer>

    <!-- Modal -->
    <!-- Aterar Senha -->
    <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                
                <form action="/admin?_method=PUT" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_usuario">ID</label>
                            <input type="text" class="form-control" id="id_usuario" placeholder="ID do usuário" name="id" required>
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova senha</label>
                            <input type="password" class="form-control" id="novaSenha" placeholder="Senha" name="senhaNova" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme a nova senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha" name="senhaNovaConfirmar" required>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Alterar senha</button>
                    </div>
                </form>
                
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/javascripts/excluirUsuario.js"></script>
    <script src="/javascripts/carregarUsuario.js"></script>
</body>

</html>