<%- include('./partials/header.ejs', { active: "Anuncie" , css: ["anuncie.css"]}) %>

    <!-- Publicar Produto -->
    <main class="container-anuncie">   
        <!-- Publicar Produtos -->
        <button type="button" class="publicar-produto" data-toggle="modal" data-target="#publicarNovoProduto"> 
            <div class="formulario-novo-produto">
                <h4>Publicar produto</h4>
                <img src="/img/icones/menu-999999.png" alt="menu" width="35">
            </div>
        </button>

        <div class="feed">
            <!-- Buscar Produto -->
            <section class="pesquisar-produto"> 
                <div class="formulario-pesquisar-produto">
                    <form action="">
                        <div class="form-buscar-produto form-group">
                            <input type="buscarProduto" class="form-control" id="buscarProduto" placeholder="Buscar produto">
                            <button type="button" id="btnPesquisar" class="btn btn-Buscar">Buscar</button>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Feed Produto -->
            <section class="feed-produto" id="feedProdutoDiv"> 
                <div class="feed-produto-conteudo">
                    <div class="radio-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio7" name="customRadio3" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio7">Feed de Produtos</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio8" name="customRadio3" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio8">Meus Produtos</label>
                        </div>
                    </div>
                </div>

                <div class="feed-produto-conteudo" id="produtoJS">

                    <div class="botao">
                        <button type="button" class="btn btn-mais">+ Produtos</button>
                    </div>
                    
                </div>
            </section>
        </div>
    </main>

    <!-- Modal - Publicar Produto -->
    <div class="modal fade" id="publicarNovoProduto" tabindex="-1" role="dialog" aria-labelledby="modalPublicarNovoProduto" aria-hidden="true">
        <div id="modalPublicar" class="modal-dialog" role="document">
            <form class="modal-content" action="/anuncie/novoProduto?_method=POST" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Publicar novo produto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="container">
                    <div class="modal-body row" id="publicarNovoProduto2">
                        <div id="escolherImg" class="modal-body">
                            <div class="form-group">
                                <label for="formControlFileImg">Escolha uma imagem</label>
                                <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="produto" required>
                            </div>
                        </div>
                        <div class="" id="dadosProduto">
                            <div class="form-group">
                                <input type="tituloNovoProduto" class="form-control" id="tituloNovoProduto" name="tituloNovoProduto" placeholder="Título do produto" maxlength="50" required>
                            </div>
                            <div class="form-group media">
                                <div id= "inputEstadoDiv" class="form-group">
                                    <div class="">
                                        <select class="form-control" id="inputEstado" name="estado" required>
                                            <option value="" disabled selected hidden>Escolha o Estado</option>
                                            <% estados.forEach((estado)=>{ %>
                                                <option value="<%= estado.id_estado %>"><%= estado.uf %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group media">
                                <div id= "inputCidadeDiv" class="form-group">
                                    <div class="">
                                        <select class="form-control readonly" id="inputCidade" name="cidade" tabindex="-1" disabled required>
                                            <option value="" disabled selected hidden>Escolha a Cidade</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="dinheiro" class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                                </div>
                                <input type="text" name="dinheiro" class="form-control" aria-label="Quantia" maxlength="9" required>
                                <div class="input-group-append">
                                <span class="input-group-text"></span>
                                </div>
                            </div>
                            <div class="form-group" id="descriçãoNovoProdutoDiv">
                                <textarea class="form-control" id="descricaoNovoProduto" name="descricaoNovoProduto" rows="5" placeholder="Descrição do produto" maxlength="200" required></textarea>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-Publicar">Publicar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal - Editar produto -->
    <div class="modal fade" id="editarProduto" tabindex="-1" role="dialog" aria-labelledby="modalEditarProduto" aria-hidden="true">
        <div id="modalPublicarEditar" class="modal-dialog" role="document">
            <form class="modal-content" action="/anuncie/dadosEditar?_method=POST" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="labelId" name="labelId"></h4> -->
                    <input class="modal-title" id="labelId" name="labelId" readonly>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="container">
                    <div class="modal-body row" id="publicarNovoProduto2">
                        <div id="escolherImg" class="modal-body">
                            <div class="form-group">
                                <label for="formControlFileImg" id="label">Escolha uma imagem</label>
                                <input type="file" class="form-control-file" id="formControlFileImg2" accept="image/*" name="produto">
                            </div>
                        </div>
                        <!-- <textarea class="modal-title" id="labelId" name="labelId">TESTE</textarea> -->
                        <div class="" id="dadosProduto2">
                            <div class="form-group" id="tituloNovoProduto2Div">
                                <textarea class="form-control" id="tituloNovoProduto2" name="tituloNovoProduto" maxlength="50" required></textarea>
                            </div>

                            <div class="infos-item media" id="infosItem1">
                                <div id= "inputEstadoDiv2" class="form-group">
                                    <div class="">
                                        <select class="form-control" id="inputEstado2" name="estado">
                                            <!-- <option value="" disabled selected hidden>Escolha o Estado</option> -->
                                            <% estados.forEach((estado)=>{ %>
                                                <option value="<%= estado.id_estado %>"><%= estado.uf %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media" id="infosItem2">
                                <div id= "inputCidadeDiv2" class="form-group">
                                    <div class="">
                                        <select class="form-control" id="inputCidade2" name="cidade">
                                            <!-- <option value="" >Escolha a Cidade</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="valorProduto2" class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">R$</span>
                                </div>
                                <textarea type="text" name="dinheiro" id="dinheiro2" class="form-control" aria-label="Quantia" rows="5" maxlength="9" required></textarea>
                                <div class="input-group-append">
                                <span class="input-group-text"></span>
                                </div>
                            </div>
                            <div class="form-group" id="descriçãoNovoProdutoDiv2">
                                <textarea class="form-control" id="descricaoNovoProduto2" name="descricaoNovoProduto" rows="5" maxlength="200" required></textarea>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="salvarEdicao" class="btn btn-Publicar">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        let cidadesJSON = '<%- JSON.stringify(cidades) %>';
    </script>
    <script src="../javascripts/filtrarCidade.js"></script>

    <script>
        let cidadesJSON2 = '<%- JSON.stringify(cidades) %>';
        let estadosJSON2 = '<%- JSON.stringify(estados) %>';
    </script>

    <script src="../javascripts/anuncieJs.js"></script>

    <%- include('./partials/footer.ejs') %>