<%- include('./partials/header.ejs', { active: "Home" , css: ["feed.css"]}) %>

    <div class="feed-container container">
        <div class="row">
            <div class="col-md-3">
    <!-- Grupo User Card -->
                <section id="userCard" class="card-feed">
                    <div class="user-info">
                        <a href="<%= link %>">
                            <div class="avatar-content">
                                <img class="avatar" src="<%= usuario.avatar %>" alt="<%= usuario.nome %>">
                            </div>
                            <h5><%= usuario.nome %></h5>
                        </a>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="media divisoria">
                                    <i class="fas fa-star"></i>
                                    <div class="media-body">
                                        <p><%= seguidores %></p>
                                        <small>Seguidores</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="media">
                                    <i class="fas fa-headphones-alt fone"></i>
                                    <div class="media-body">
                                        <p><%= seguindo %></p>
                                        <small>Seguindo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/minhaPublicacao">Minhas publicações</a>
                </section>

    <!-- Grupo New User -->            
                <section id="newUser" class="card-feed">
                    <h5><strong>Novos Usuários</strong></h5>
                    <div class="scroll">
                        <% novosUsuarios.forEach(user => { %>
                            <div class="media">
                                <a href="<%= user.link_perfil %>">
                                    <img class="mini-avatar" src="<%= user.avatar %>" alt="Anne">
                                    <p><%= user.nome %></p>
                                </a>
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                        <% }) %>
                    </div>
                </section>

    <!-- Rodapé -->          
                <div id="rodape">
                    <ul class="list-unstyled">
                        <li><a href="">Políticas</a> | <a href="/faleConosco"><strong>Fale Conosco</strong></a></li>
                        <li>
                            <span class="copyright">Copyright &copy;
                                2020 - Band+ by Group 1
                            </span>
                        </li>
                    </ul>
                </div> 
            </div>

            <div class="col-md-8">
            
            <% if (errors.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Ops, ação interrompida...</h5>
                    <hr>
                    <ul class="error">
                        <% for( let i = 0; i < errors.length; i++ ) { %>
                            <li>- <%= errors[i].msg %>  </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>

    <!-- Grupo Publicar --> 
                <section id="publicar" class="card-feed">
                    <h4><strong>O que está rolando?</strong></h4>
                    <form action="/home/publicar" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <textarea class="form-control" id="textareaPublicacao" rows="4" placeholder="Publique o que está acontecendo por aí!!" name="textoPublicar" required></textarea>
                        </div>
                        <div class="add">
                            <div class="form">
                                <div class="upload link">
                                    <input type="text" class="form-control invisible" id="linkVideo" placeholder="Digite o link" name="videoLink">
                                    <label for="linkVideo" id="iconLink"><i class="fas fa-link link"></i></label>
                                </div>
                            </div>
                            <div class="upload">
                                <label for="file-input-img">
                                    <img src="/img/icones/icon_image.svg" alt="Imagem">
                                </label>
                                <input type="file" class="file" id="file-input-img" accept="image/*" name="imagem">
                            </div>
                            <div class="upload">
                                <label for="file-input-video">
                                    <i class="fas fa-film"></i>
                                </label>
                                <input type="file" class="file" id="file-input-video" accept="video/*" name="video">
                            </div>
                            <button type="submit" class="btn btn-salvar">Publicar</button>
                        </div>
                    </form>
                </section>
    
     <!-- Grupo Publicacao --> 
                <section id="publicacao">
                    <% posts.forEach(post => { %>
                        <div class="card-feed">
                            <div class="media">
                                <a href="<%= post.link_perfil %>">
                                    <img class="mini-avatar" src="<%= post.avatar %>" alt="<%= post.nome %>">
                                    <h5><%= post.nome %></h5>
                                </a>
                            </div>
                            <% if (post.imagem) { %>
                                <img class="img-public" src="<%= post.imagem %>" alt="Publicação">
                            <% } %>
                            <% if (post.video_arquivo) { %>
                                <video controls>
                                    <source src="<%= post.video_arquivo %>" type="video/mp4">
                                    <source src="<%= post.video_arquivo %>" type="video/webm">
                                    <p>Seu browser não suporta este recurso</p>
                                </video>
                            <% } %>
                            <% if (post.video_link) { %>
                                <iframe src="<%= post.video_link %>" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <% } %>
                            <p style="white-space: pre-wrap"><%= post.texto %></p>
                            <div class="curtir" id="grupoIconPost">
                                <button type="button">
                                    <i id="iconeCurtir<%= post.id_post %>" class="fas fa-star 
                                        <% curtidas.forEach(curtida => { %>
                                            <% if (post.id_post === curtida.id_post) { %>curtiu<% } %>
                                        <% }) %>
                                    "></i>
                                </button>
                                
                                <a data-toggle="collapse" href="#collapseComentario<%= post.id_post %>" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="/img/icones/icon_comment.svg" alt="Comentar"></a>
                            </div>
                            <div class="collapse comentarios" id="collapseComentario<%= post.id_post %>">
                                <div class="box-comentario">
                                    <% comentarios.forEach(comentario => { %>
                                        <% if (post.id_post === comentario.id_post) { %>
                                            <div class="media comentario">
                                                <a href="<%= comentario.link_perfil %>">
                                                    <img class="mini-avatar" src="<%= comentario.avatar %>" alt="<%= comentario.nome %>">
                                                </a>
                                                <div class="card-feed">
                                                    <a href="<%= comentario.link_perfil %>">
                                                        <p class="nome-comentario"><%= comentario.nome %></p>
                                                    </a>
                                                    <p class="texto-comentario" style="white-space: pre-wrap"><%= comentario.comentario %></p>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                                <form action="" method="POST">
                                    <div class="form-group">
                                        <textarea class="form-control" id="inputComentario" rows="1"
                                            placeholder="Adicione um comentário..." name="comentario" required></textarea>
                                        <input type="hidden" name="id_post" value="<%= post.id_post %>">
                                        <button type="submit" class="btn-submit">
                                            <img src="/img/icones/icon_send.svg" alt="Enviar">
                                        <button>                            
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% }) %>
                </section>
            </div>

        </div>
    </div>

    <div class="edit">
        <div class="circle">
            <a href=""><i class="fas fa-pencil-alt"></i></i></a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script src="/javascripts/inputLink.js"></script>
    <script src="/javascripts/curtirPost.js"></script>
</body>

</html>