<%- include('./partials/header.ejs', { active: "MinhaRede" , css: "minhaRede.css"}) %>
 

    <main class="container-minhaRede">
        <!-- Feed de Contatos Recomendados -->
        <section class="feed-recomendados"> 
            <div class="feed-recomendados-conteudo">
                <h4>Recomendados</h4>
                <div class= "scroll">
                    <% recomendados.forEach(recomendado => { %> 
                        <div class="card-contato">
                            <img class="contato-img" src="<%= recomendado.avatar %>" alt="Foto Contato">
                            <div class="nome-contato">
                                <a href="<%= recomendado.link_perfil %>"><%= recomendado.nome %></a>
                            </div>
                            <!-- <button type="button" class="btn btn-Seguir"  value="<%= recomendado.id_usuario %>">Seguir</button> -->
                        </div>
                    <% }) %>
                    
                </div>
            </div>
        </section>

        <div class="feed">
            <!-- Buscar Contatos -->
            <section class="pesquisar-contatos"> 
                <div class="formulario-pesquisar-contato">
                    <form id="formBuscar">
                        <div class="form-buscar-contato form-group">
                            <input type="text" class="form-control" id="buscarContato" name="buscar" placeholder="Buscar contato">
                            <button type="submit" class="btn btn-Buscar">Buscar</button>
                        </div>
                    </form>
                </div>
            </section>
        
            <!-- Feed de Contatos -->
            <section class="feed-contatos"> 
                <div class="feed-contatos-conteudo" id="divConteudo">
                   
                    <div class="radio-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio1" name="customRadio1" class="custom-control-input" >
                            <label class="custom-control-label" for="customRadio1">Seguindo</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio2" name="customRadio1" class="custom-control-input" >
                            <label class="custom-control-label" for="customRadio2">Seguidores</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio3">Outros</label>
                        </div>
                        
                    </div> 
                    <div id="redeGroup">
                        <div class="card-contato" id="rede">
                            <img class="contato-img" id="avatar" src="/img/icones/imgEditar.png" alt="Foto Contato">
                            <div class="nome-contato">
                                <a href="" id="nomeContato">Nome</a>
                            </div>
                            <button type="button" class="btn btn-Seguir">Seguir</button>
                        </div>
                    </div>                
              
                    <div class="botao">
                        <button type="button" class="btn btn-mais" id="carregarMais" value="5" style="visibility: hidden;">+ Contatos</button>
                    </div>
                    
                </div>
            </section>
        </div>
    </main>

    <script>
        let seguindoJs = '<%- JSON.stringify(seguindo) %>';
        let seguidoresJs = '<%- JSON.stringify(seguidores) %>'; 
        let geralJs = '<%- JSON.stringify(geral) %>';    
       
   </script>
   
   <script src="javascripts/minhaRedeJs.js"></script>
    

    <%- include('./partials/footer.ejs') %>