<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perfil - Editar</title>
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/perfil-musico.css">
    <link rel="stylesheet" href="/stylesheets/perfil-musico-editar.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body>
    <form action="/perfil/editar/musico?_method=PUT" method="POST">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand">                    
                    <a class="navbar-brand" href="/home"><img src="/img/logo_5000x1500.png" alt="Band+" width="150"></a>                        
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil/musico/<%= dadosMusico.id_musico %>">
                                <button type="button" class="btn btn-outline-cancelar">Cancelar</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <button type="submit" class="btn btn-salvar">Salvar</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="perfil-container">
        
            <% if (errors.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Não foi possível fazer a alteração solicitada!</h5>
                    <hr>
                    <ul class="error">
                        <% for( let i = 0; i < errors.length; i++ ) { %>
                            <li>- <%= errors[i].msg %>  </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>

        <!-- Mensagem de erro (flash - avatar) -->
        <% if (errorsImage.length) { %>
            <div class="alert alert-danger" role="alert">
                <h5>Não foi possível fazer a alteração solicitada!</h5>
                <hr>
                <p class="error">- <%= errorsImage %></p>
            </div>
        <% } %>
        
        
        
        <!-- Grupo Head -->
            <section id="head" class="card-perfil">
                
                <div class="head-fundo fundo-content">
                    <a data-toggle="modal" data-target="#alterarFundo" href="">
                        <img src="<%= dadosUsuario.wallpaper %>" alt="Foto de fundo" class="wallpaper">
                        <div class="icon"><i class="fas fa-camera"></i></div>
                    </a>
                </div>
                
                <div class="avatar-content">
                    <a data-toggle="modal" data-target="#alterarAvatar" href="">
                        <img src="<%= dadosUsuario.avatar %>" alt="Foto de Perfil" class="avatar">
                        <div class="icon"><i class="fas fa-camera"></i></div>
                    </a>
                </div>

                <div class="info-user">
                    <div>
                        <div class="form-group">
                            <textarea class="form-control" id="textareaUserName" rows="1" name="nome"><%= usuario.nome %></textarea>
                        </div>
                    </div>
                    <div class="info-user-status">
                        <div class="media">
                            <img src="/img/icones/icon_star.svg">
                            <p>Seguidores: <%= seguidores %></p>
                        </div>
                        <div class="media">
                            <img src="/img/icones/icon_headset.svg">
                            <p>Seguindo: <%= seguindo %></p>
                        </div>
                    </div>
                </div>

            </section>

        <!-- Grupo Bio -->
            <section id="bio" class="card-perfil">

                <h4><strong>Sobre mim</strong></h4>
                <div>
                    <div class="form-group">
                        <textarea class="form-control" id="textareaBio" name="sobre"
                        <% if (!dadosMusico.sobre) { %>
                            placeholder="Fique à vontade para usar esse espaço divulgando o seu talento e desperte o interesse dos outros usuários e ganhe muitos seguidores!"
                        <% } %>
                        ><%= dadosMusico.sobre %></textarea>
                    </div>
                </div>

            </section>

            <div class="container habil-info">
                <div class="row">

        <!-- Grupo Habilidades -->
                    <div class="hab col-lg-6 col-md-12">
                        <section id="habilidades" class="card-perfil">
                            <h4><strong>Habilidades</strong></h4>
                            
                            <a class="modal-link" data-toggle="modal" data-target="#adicionarHabilidade" href="">
                                Adicionar habilidade...
                            </a>
                            
                            <% if (!dadosMusico.canto && !instrumentos.length && !tecnicos.length) { %>
                                <p class="msg-incentivo">Adicione suas habilidades para que o seu perfil ganhe mais destaque.</p>
                            <% } %>

                            <div class="scroll">

                                <div class="row">
                                    <% if (dadosMusico.canto) { %>
                                        <div class="habilidades-item media col-lg-12 col-sm-6">
                                            <img src="/img/icones/cantar-01.png" alt="Canto">
                                            <p>Canto</p>
                                            <div class="icon-border-none">
                                                <a data-toggle="modal" data-target="#confirmarExclusao"href="">
                                                    <i class="fas fa-trash fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    <% } %>

                                    <% if (instrumentos.length) { %>
                                        <% instrumentos.forEach(instrumento => { %>
                                            <div class="habilidades-item media col-lg-12 col-sm-6">
                                                <img src="/img/icones/tocar-01.png" alt="Toco">
                                                <p><%= instrumento.instrumento %></p>
                                                <div class="icon-border-none">
                                                    <a data-toggle="modal" data-target="#confirmarExclusao" href="">
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %>
    
                                    <% if (tecnicos.length) { %>
                                        <% tecnicos.forEach(tecnico => { %>
                                            <div class="habilidades-item media col-lg-12 col-sm-6">
                                                <img src="/img/icones/palco-01.png" alt="Técnico">
                                                <p><%= tecnico.habilidade_tecnica %></p>
                                                <div class="icon-border-none">
                                                    <a data-toggle="modal" data-target="#confirmarExclusao" href="">
                                                        <i class="fas fa-trash fa-lg"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                </div>

                            </div>

                        </section>
                    </div>

        <!-- Grupo Infos -->
                    <div class="info col-lg-6 col-md-12">
                        <section id="infos" class="card-perfil">
                            <h4><strong>+ Infos</strong></h4>
                            <div class="infos-item media">
                                <img src="/img/icones/pin-01.png" alt="Local">
                                <div class="form">
                                    <div class="form-group">
                                        <select class="custom-select" name="estado">
                                            <% estados.forEach(estado => { %>
                                                <% if (dadosUsuario.uf == estado.uf) { %>
                                                    <option selected><%= estado.uf %></option> 
                                                <% } else { %>
                                                    <option value="<%= estado.uf %>"><%= estado.uf %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/pin-01.png" alt="Local">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="cidade"><%= dadosUsuario.cidade %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/site-01.png" alt="Site">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="site"
                                        <% if (!dadosMusico.site) { %>
                                            placeholder="Ops, você não informou este campo"
                                        <% } %>
                                        ><%= dadosMusico.site %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/canal-01.png" alt="Canal">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="canal"
                                        <% if (!dadosMusico.canal) { %>
                                            placeholder="Ops, você não informou este campo"
                                        <% } %>
                                        ><%= dadosMusico.canal %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/email-01.png" alt="Email">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="email"><%= usuario.email %></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        <!-- Grupo Minha Música -->
            <section id="minhaMusica" class="card-perfil">
                <h4><strong>Minha música</strong></h4>

                <a class="modal-link" data-toggle="modal" data-target="#adicionarMusica" href="">
                    Adicionar música...
                </a>

                <div class="container">
                    <div class="row">

                        <% if (!videos.length && !audios.length) { %>
                            <p class="msg-incentivo">Adicione sua música para que o seu perfil ganhe mais destaque.</p>
                        <% } %>

                        <% if (videos.length) { %>
                            <% videos.forEach(video => { %>
                                <% if (video.tipo == "arquivo") { %>
                                    <div class="musica-item col-xl-6 col-sm-12">
                                        <div class="icon-border-none">
                                            <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                        <video controls>
                                            <source src="<%= video.caminho %>" type="video/mp4">
                                            <source src="<%= video.caminho %>" type="video/ogg">
                                            <p>Seu browser não suporta este recurso</p>
                                        </video>
                                        <h5><%= video.titulo %></h5>
                                    </div>
                                <% } %>

                                <% if (video.tipo == "link") { %>
                                    <div class="musica-item col-xl-6 col-sm-12">
                                        <div class="icon-border-none">
                                            <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                        <iframe src="<%= video.caminho %>" frameborder="0"allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        <h5><%= video.titulo %></h5>
                                    </div>
                                <% } %>
                            <% }) %>
                        <% } %>

                        <% if (audios.length) { %>
                            <% audios.forEach(audio => { %>
                                <% if (audio.tipo == "arquivo") { %>
                                    <div class="musica-item col-xl-6 col-sm-12">
                                        <div class="icon-border-none">
                                            <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                        <div class="player">
                                            <audio controls>
                                                <source src="<%= audio.caminho %>" type="audio/mpeg">
                                                <source src="<%= audio.caminho %>" type="audio/ogg">
                                                <p>Seu browser não suporta este recurso</p>
                                            </audio>
                                        </div>
                                        <h5><%= audio.titulo %></h5>
                                    </div>
                                <% } %>
                                <% if (audio.tipo == "link") { %>
                                    <div class="musica-item col-xl-6 col-sm-12">
                                        <div class="icon-border-none">
                                            <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </a>
                                        </div>
                                        <iframe scrolling="no" frameborder="no" allow="autoplay" src="<%= audio.caminho %>"></iframe>
                                        <h5><%= audio.titulo %></h5>
                                    </div>
                                <% } %>
                            <% }) %>
                        <% } %>

                    </div>
                </div>

                <div class="carregar">
                    <button type="button" class="btn btn-carregar">Carregar + Músicas</button>
                </div>
            </section>    
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <ul class="list-unstyled mb-0">
            <li><a href="">Políticas</a> | <a href="">Ajuda</a> | <a href="/faleConosco"><strong>Fale Conosco</strong></a></li>
            <li>
                <span class="copyright">Copyright &copy;
                    2020 -
                    <img src="/img/icone.png" width="20">
                    Band+ by Group 1
                </span>
            </li>
        </ul>
    </footer>


    <!-- Modal -->
    <!-- Aterar Fundo -->
    <div class="modal fade" id="alterarFundo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar o plano de fundo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/musico/wallpaper?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="wallpaper" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Aterar Avatar -->
    <div class="modal fade" id="alterarAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar a imagem</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/musico/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="avatar" required>
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Adicionar Habilidade -->
    <div class="modal fade" id="adicionarHabilidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Adicionar habilidade</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/musico/skills" method="POST">
                    <div class="modal-body">
                        <!-- Opção Canto -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="canto" value="1" id="checkCanto">
                            <label class="form-check-label" for="checkCanto">
                              Canto
                            </label>
                        </div>
                        <!-- Opção Intrumento -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="toco" value="1" id="checkInstrumento" data-toggle="collapse" data-target="#collapseInstrumento" aria-expanded="false" aria-controls="collapseInstrumento">
                            <label class="form-check-label" for="checkInstrumento">
                              Instrumento
                            </label>
                        </div>
                        <div class="collapse" id="collapseInstrumento">
                            <div class="form-group">
                                <select class="custom-select" id="addInstrumento" name="instrumento">
                                    <option value="" disabled selected hidden>Escolha um instrumento</option>
                                    <% listaInstrumentos.forEach(item => { %>
                                        <option value="<%= item.instrumento %>"
                                            <% instrumentos.forEach(instrumento => { %>
                                                <% if (instrumento.instrumento == item.instrumento) { %>
                                                    disabled
                                                <% } %>
                                            <% }) %>    
                                        ><%= item.instrumento %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <!-- Opção Técnico -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="tecnico" value="1" id="checkTecnico" data-toggle="collapse" data-target="#collapseTecnico" aria-expanded="false" aria-controls="collapseTecnico">
                            <label class="form-check-label" for="checkTecnico">
                              Técnico
                            </label>
                        </div>
                        <div class="collapse" id="collapseTecnico">
                            <div class="form-group">
                                <select class="custom-select" id="addTecnico" name="habilidade_tecnica">
                                    <option value="" disabled selected hidden>Escolha uma habilidade técnica</option>
                                    <% listaTecnicos.forEach(item => { %>
                                        <option value="<%= item.habilidade_tecnica %>"
                                            <% tecnicos.forEach(tecnico => { %>
                                                <% if (tecnico.habilidade_tecnica == item.habilidade_tecnica) { %>
                                                    disabled
                                                <% } %>
                                            <% }) %>    
                                        ><%= item.habilidade_tecnica %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Adicionar Musica -->
    <div class="modal fade" id="adicionarMusica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Adicionar música</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/musico/music" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="videoAdd" value="1" id="checkVideo" data-toggle="collapse" data-target="#collapseVideo" aria-expanded="false" aria-controls="collapseVideo">
                            <label class="form-check-label" for="checkVideo">
                              Quero enviar um vídeo
                            </label>
                        </div>
    
                        <div class="collapse" id="collapseVideo">
                            <div class="form-group">
                                <label for="tituloVideo">Título</label>
                                <input type="text" class="form-control" id="tituloVideo"  required>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="linkVideo">Link</label>
                                <input type="text" class="form-control" id="linkVideo" aria-describedby="linkHelp" name="videoLink">
                                <small id="linkHelp" class="form-text text-muted">Coloque o link do vídeo.</small>
                            </div>
                            ou
                            <div class="form-group">
                                <label for="arquivoVideo">Escolha um arquivo</label>
                                <input type="file" class="form-control-file" id="arquivoVideo" accept="video/*" name="videoArquivo">
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="audioAdd" value="1" id="checkAudio" data-toggle="collapse" data-target="#collapseAudio'" aria-expanded="false" aria-controls="collapseAudio'">
                            <label class="form-check-label" for="checkAudio">
                              Quero enviar um áudio
                            </label>
                        </div>
                        <div class="collapse" id="collapseAudio'">
                            <div class="form-group">
                                <label for="tituloAudio">Título</label>
                                <input type="text" class="form-control" id="tituloAudio" name="audioTitulo" required>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="linkAudio">Link</label>
                                <input type="text" class="form-control" id="linkAudio" aria-describedby="linkHelp" name="audioLink">
                                <small id="linkHelp" class="form-text text-muted">Coloque o link do áudio.</small>
                            </div>
                            ou
                            <div class="form-group">
                                <label for="arquivoAudio">Escolha um arquivo</label>
                                <input type="file" class="form-control-file" id="arquivoAudio" accept="audio/*" name="audioArquivo">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Confirmar Exclusão -->
    <div class="modal fade" id="confirmarExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title danger" id="exampleModalLabel">Atenção!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="danger">Tem certeza que quer excluir esta habilidade?</p>
                    <p>Depois de excluir, você não poderá desfazer esta ação.</p>
                </div>
                <form action="" method="POST">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Confirmar Exclusão - Música -->
    <div class="modal fade" id="confirmarExclusaoMusica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title danger" id="exampleModalLabel">Atenção!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times"></i></span>

                    </button>
                </div>
                <div class="modal-body">
                    <p class="danger">Tem certeza que quer excluir a sua música?</p>
                    <p>Depois de excluir, você não poderá desfazer esta ação.</p>
                </div>
                <form action="" method="POST">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>