<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perfil-Editar</title>
    <link rel="shortcut icon" href="img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/perfil-banda.css">
    <link rel="stylesheet" href="/stylesheets/perfil-banda-editar.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
        integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body>
    <form action="/perfil/editar/banda?_method=PUT" method="POST">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand">
                    <a class="navbar-brand" href="/home"><img src="/img/logo_5000x1500.png" alt="Band+" width="150"></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil/banda/<%= dadosBanda.id_banda %>">
                                <button type="button" class="btn btn-outline-cancelar">Cancelar</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil/banda/<%= dadosBanda.id_banda %>"> <!-- depois vai para o feedback-editar-banda.html -->
                                <button type="submit" class="btn btn-salvar">Salvar</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="perfil-container">

            <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <h5>Não foi possível fazer a alteração solicitada!</h5>
                <hr>
                <ul class="error">
                    <% for( let i = 0; i < errors.length; i++ ) { %>
                    <li>- <%= errors[i].msg %> </li>
                    <% } %>
                </ul>
            </div>
            <% } %>

             <!-- Mensagem de erro (flash - imagens) -->
            <% if (errorsImage.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Não foi possível fazer a alteração solicitada!</h5>
                    <hr>
                    <p class="error">- <%= errorsImage %></p>
                </div>
            <% } %>

        
            <!-- Grupo Head -->
            <section id="head" class="card-perfil">

                <div class="head-fundo fundo-content">
                    <a data-toggle="modal" data-target="#alterarFundo" href="">
                        <img src="<%= dadosUsuarioBanda.wallpaper %>" alt="Foto de fundo" class="wallpaper">
                        <div class="icon"><i class="fas fa-camera"></i></div>
                    </a>
                </div>

                <div class="avatar-content">
                    <a data-toggle="modal" data-target="#alterarAvatar" href="">
                        <img src="<%= dadosUsuarioBanda.avatar %>" alt="Foto de Perfil" class="avatar">
                        <div class="icon"><i class="fas fa-camera fa-lg"></i></div>
                    </a>
                </div>

                <div class="info-user">
                    <div>
                        <div class="form-group">
                            <textarea class="form-control" id="textareaUserName" rows="1" name="nome"><%= nomeBanda %></textarea>
                        </div>
                    </div>
                    <div class="info-user-status">
                        <div class="media">
                            <img src="/img/icones/icon_star.svg">
                            <p>Seguidores:<%= seguidores %></p>
                        </div>
                        <div class="media">
                            <img src="/img/icones/icon_headset.svg">
                            <p>Seguindo: <%= seguindo %></p>
                        </div>
                        <div class="media">
                            <img src="/img/icones/icon_genero.svg">
                            <p>Gênero: <%= dadosBanda.genero %></p>
                        </div>
                    </div>
                </div>

            </section>

            <!-- Grupo Bio -->
            <section id="bio" class="card-perfil">

                <h4><strong>Sobre a banda </strong></ah4>
                    <div>
                        <div class="form-group">
                            <textarea class="form-control" id="textareaBio" name="sobre" 
                            <% if (!dadosBanda.sobre) { %>
                                placeholder="Fique à vontade para usar esse espaço divulgando o seu talento e desperte o interesse dos outros usuários e ganhe muitos seguidores!"
                                <% } %>><%= dadosBanda.sobre %>
                            </textarea>
                        </div>
                    </div>

            </section>

            <div class="container integ-info">
                <div class="row">

                    <!-- Grupo Integrantes -->
                    <div class="int col-lg-6 col-md-12">
                        <section id="integrantes" class="card-perfil">
                            <h4><strong>Integrantes</strong></h4>

                            <a class="modal-link" data-toggle="modal" data-target="#adicionarIntegrante" href="">
                                Adicionar integrante...
                            </a>

                            <div class="scroll">
                                <% integrantes.forEach(integrante => { %>
                                <div class="integrantes-item media">
                                    <div class="container-img  form-group"><img src=<%= integrante.avatar %> class="mr-3" alt="Foto-Usuário"></div>

                                    <div class="form-group col-5">
                                        <p><%= integrante.nome %></p>
                                    </div>

                                    <div class="form-group col-5">
                                        <textarea class="form-control" rows="1" name="funcao"><%= integrante.funcao %></textarea>
                                        <!-- <p><%= integrante.funcao %></p> -->
                                    </div>

                                    <div class="icon-border-none form-group col-1">
                                        <a data-toggle="modal" data-target="#confirmarExclusao" href="">
                                            <i class="fas fa-trash fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </section>
                    </div>

                    <!-- Grupo Infos -->
                    <div class="info col-lg-6 col-md-12">
                        <section id="infos" class="card-perfil">
                            <h4><strong>+ Infos</strong></h4>
                            <div class="infos-item media">
                                <img src="/img/icones/pin-01.png" alt="Local">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" name="cidade" rows="1"><%= dadosUsuarioBanda.cidade %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/pin-01.png" alt="Local">
                                <div class="form">
                                    <div class="form-group">
                                        <select class="custom-select" name="estado">
                                            <% estados.forEach(estado => { %>
                                            <% if (dadosUsuarioBanda.uf == estado.uf) { %>
                                            <option selected><%= estado.uf %></option>
                                            <% } else { %>
                                            <option value="<%= estado.uf %>"><%= estado.uf %></option>
                                            <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/site-01.png" alt="Site">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="site"
                                            <% if (!dadosBanda.site) { %>
                                            placeholder="Ops, você não informou este campo"
                                            <% } %>><%= dadosBanda.site %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/canal-01.png" alt="Canal">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1" name="canal"
                                            <% if (!dadosBanda.canal) { %>
                                            placeholder="Ops, você não informou este campo"
                                            <% } %>><%= dadosBanda.canal %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="infos-item media">
                                <img src="/img/icones/email-01.png" alt="Email">
                                <div class="form">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textareaInfos" rows="1"
                                            name="email"><%= emailBanda %></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <!-- Grupo Minha Música -->
                <section id="minhaMusica" class="card-perfil">
                    <h4><strong>Minha música</strong></h4>

                    <a class="modal-link" data-toggle="modal" data-target="#adicionarMusica" href="">
                        Adicionar música...
                    </a>

                    <div class="container">
                        <div class="row">

                            <% if (!videos.length && !audios.length) { %>
                            <p class="msg-incentivo">Adicione sua música para que o seu perfil ganhe mais destaque.</p>
                            <% } %>

                            <% if (videos.length) { %>
                            <% videos.forEach(video => { %>
                            <% if (video.tipo == "arquivo") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <div class="icon-border-none">
                                    <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </div>
                                <video controls>
                                    <source src="<%= video.caminho %>" type="video/mp4">
                                    <source src="<%= video.caminho %>" type="video/ogg">
                                    <p>Seu browser não suporta este recurso</p>
                                </video>
                                <h5><%= video.titulo %></h5>
                            </div>
                            <% } %>

                            <% if (video.tipo == "link") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <div class="icon-border-none">
                                    <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </div>
                                <iframe src="<%= video.caminho %>" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <h5><%= video.titulo %></h5>
                            </div>
                            <% } %>
                            <% }) %>
                            <% } %>

                            <% if (audios.length) { %>
                            <% audios.forEach(audio => { %>
                            <% if (audio.tipo == "arquivo") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <div class="icon-border-none">
                                    <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </div>
                                <div class="player">
                                    <audio controls>
                                        <source src="<%= audio.caminho %>" type="audio/mpeg">
                                        <source src="<%= audio.caminho %>" type="audio/ogg">
                                        <p>Seu browser não suporta este recurso</p>
                                    </audio>
                                </div>
                                <h5><%= audio.titulo %></h5>
                            </div>
                            <% } %>
                            <% if (audio.tipo == "link") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <div class="icon-border-none">
                                    <a data-toggle="modal" data-target="#confirmarExclusaoMusica" href="">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </div>
                                <iframe scrolling="no" frameborder="no" allow="autoplay"
                                    src="<%= audio.caminho %>"></iframe>
                                <h5><%= audio.titulo %></h5>
                            </div>
                            <% } %>
                            <% }) %>
                            <% } %>

                        </div>
                    </div>

                    <div class="carregar">
                        <button type="button" class="btn btn-carregar">Carregar + Músicas</button>
                    </div>
                </section>
            </div>
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <ul class="list-unstyled mb-0">
            <li><a href="">Políticas</a> | <a href="duvidas.html">Ajuda</a> | <a href="/faleConosco"><strong>Fale
                        Conosco</strong></a></li>
            <li>
                <span class="copyright">Copyright &copy;
                    2020 -
                    <img src="/img/icone.png" width="20">
                    Band+ by Group 1
                </span>
            </li>
        </ul>
    </footer>



    <!-- Modal -->
    <!-- Alterar Fundo -->
    <div class="modal fade" id="alterarFundo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar o plano de fundo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/banda/wallpaper?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="wallpaper" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Alterar Avatar -->
    <div class="modal fade" id="alterarAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar a imagem</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/banda/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="avatar" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Adicionar Integrante -->
    <div class="modal fade" id="adicionarIntegrante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Adicionar Integrante</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="/perfil/editar/banda/integrantes" method="POST">
                    <div class="modal-body">                  
                        <div class="form-group">
                            <label for="inputMembro" class="col-sm-2 col-form-label">Nome</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputMembro" name= "membro" placeholder="Digite o nome/usuário">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFuncao" class="col-sm-2 col-form-label">Função</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputFuncao" name="funcao" placeholder="Digite a função">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Adicionar Musica -->
    <div class="modal fade" id="adicionarMusica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Adicionar música</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>

                <form action="" method="post">
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="checkVideo"
                                name="videoAdd" data-toggle="collapse" data-target="#collapseVideo"
                                aria-expanded="false" aria-controls="collapseVideo">
                            <label class="form-check-label" for="checkVideo">
                                Quero enviar um vídeo
                            </label>
                        </div>

                        <div class="collapse" id="collapseVideo">
                            <div class="form-group">
                                <label for="tituloVideo">Título</label>
                                <input type="text" class="form-control" id="tituloVideo" name="videoTitulo">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="linkVideo">Link</label>
                                <input type="text" class="form-control" id="linkVideo" name="videoLink"
                                    aria-describedby="linkHelp">
                                <small id="linkHelp" class="form-text text-muted">Coloque o link do vídeo.</small>
                            </div>
                            ou
                            <div class="form-group">
                                <label for="formControlFileImg">Escolha um arquivo</label>
                                <input type="file" class="form-control-file" id="arquivoVideo" accept="video/*"
                                    name="videoArquivo">
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkAudio" name="audio"
                                data-toggle="collapse" data-target="#collapseAudio'" aria-expanded="false"
                                aria-controls="collapseAudio'">
                            <label class="form-check-label" for="checkAudio">
                                Quero enviar um áudio
                            </label>
                        </div>
                        <div class="collapse" id="collapseAudio'">
                            <div class="form-group">
                                <label for="tituloVideo">Título</label>
                                <input type="text" class="form-control" id="tituloAudio" name="audioTitulo">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="linkAudio">Link</label>
                                <input type="text" class="form-control" id="linkAudio" name="audioLink"
                                    aria-describedby="linkHelp">
                                <small id="linkHelp" class="form-text text-muted">Coloque o link do áudio.</small>
                            </div>
                            ou
                            <div class="form-group">
                                <label for="formControlFileImg">Escolha um arquivo</label>
                                <input type="file" class="form-control-file" id="arquivoAudio" name="audioArquivo"
                                    accept="audio/*">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Confirmar Exclusão -->
    <div class="modal fade" id="confirmarExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title danger" id="exampleModalLabel">Atenção!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="danger">Tem certeza que quer excluir este integrante?</p>
                    <p>Depois de excluir, você não poderá desfazer esta ação.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmar Exclusão - Música -->
    <div class="modal fade" id="confirmarExclusaoMusica" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title danger" id="exampleModalLabel">Atenção!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>

                    </button>
                </div>
                <div class="modal-body">
                    <p class="danger">Tem certeza que quer excluir a sua música?</p>
                    <p>Depois de excluir, você não poderá desfazer esta ação.</p>
                </div>
                <form action="" method="post">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>