<%- include('./partials/header.ejs', { active: "Perfil" , css: ["perfil-estab.css"]}) %>
    
    <div class="perfil-container">

        <!-- Grupo Head -->
        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <h5>Não foi possível alterar a senha...</h5>
                <hr>
                <ul class="error">
                    <% for( let i = 0; i < errors.length; i++ ) { %>
                        <li>- <%= errors[i].msg %>  </li>
                    <% } %>
                </ul>
            </div>
        <% } %>

        <section id="head" class="card-perfil">
            <div class="head-fundo">
                <img src=<%= dadosUsuario.wallpaper %> alt="Foto de fundo" class="wallpaper">    
            </div>
            <div class="avatar-content">
                <img src=<%= dadosUsuario.avatar %> alt="Foto de Perfil" class="avatar">
            </div>
            <div class="info-user">
                <h3><strong><%= dadosUsuario.nome %></strong></h3>
                <div class="info-user-status">
                    <div class="media">
                        <i class="fas fa-star"></i>
                        <p>Seguidores: <%= totalSeguidores %></p>
                    </div>
                    <div class="media">
                        <i class="fas fa-headphones-alt fone"></i>
                        <p>Seguindo: <%= totalSeguindo %></p>
                    </div>
                </div>
            </div>
            <% if (dadosUsuario.id_usuario === usuario.id_usuario) { %>
                <div class="config">
                    <button type="button" class="btn-config dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/perfil/editar/estabelecimento">
                            Editar Perfil
                        </a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha" href="#">
                            Alterar Senha
                        </a>
                    </div>
                </div>
            <% } else { %>
                <div class="config">
                    <button type="button" class="btn-config">
                        <i class="fas fa-headphones-alt"></i>
                    </button>
                </div>
            <% } %>
        </section>

        <!-- Grupo Bio -->
        <section id="bio2" class="card-perfil">
            <h4><strong>Sobre o estabelecimento</strong></h4>
            <div class="bio-scroll">
                <% if (dadosEstab.site) { %>
                    <p class="text-justify">
                        <%= dadosEstab.sobre %>
                    </p>
                <% } else { %>
                    <p class="msg-incentivo"><%= mensagemNull %></p>
                <% } %>
            </div>
        </section>

        <!-- Grupo Infos -->
        <div class="contato col-lg-6 col-md-12">
            <section id="infos" class="card-perfil">
                <h4><strong>Contato</strong></h4>
                <div class="infos-item media">
                    <img src="/img/icones/store-01.png" alt="Estab">
                    <p><%= dadosEstab.categoria %></p>
                </div>
                <div class="infos-item media">
                    <img src="/img/icones/pin-01.png" alt="Local">
                    <p><%= dadosUsuario.cidade %> / <%= dadosUsuario.uf %></p>
                </div>
                <div class="infos-item media">
                    <img src="/img/icones/site-01.png" alt="Site">
                    <% if (dadosEstab.site) { %>
                        <p><%= dadosEstab.site %></p>
                    <% } else { %>
                        <p class="msg-incentivo"><%= mensagemNull %></p>
                    <% } %>
                </div>
                <div class="infos-item media">
                    <img src="/img/icones/tocar-01.png" alt="telefone">
                    <% if (dadosEstab.telefone) { %>
                        <p><%= dadosEstab.telefone %></p>
                    <% } else { %>
                        <p class="msg-incentivo"><%= mensagemNull %></p>
                    <% } %>
                </div>
                <div class="infos-item media">
                    <img src="/img/icones/email-01.png" alt="Email">
                    <% if (dadosUsuario.email) { %>
                        <p><%= dadosUsuario.email %></p>
                    <% } else { %>
                        <p class="msg-incentivo"><%= mensagemNull %></p>
                    <% } %>
                </div>
            </section>
        </div>

        <!-- Grupo Funcionamento -->
        <div class="func col-lg-6 col-md-12">
            <section id="infosFuncionamento" class="card-perfil">
                <h4><strong>Funcionamento</strong></h4>
                <div class="infos-item">
                    
                    <% if (dadosEstab.funcionamento) { %>
                        <% for( let i = 0; i < dadosFuncionamento.length; i++ ) { %>
                            <div class="itemFuncionamento">
                                <p class="diaSemana" id="diaSemana"><strong><%= dadosFuncionamento[i].dia %></strong></p> 
                                <p id="horarioSemana"><%= dadosFuncionamento[i].horario_abertura %> - <%= dadosFuncionamento[i].horario_fechamento %></p>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="funcionamento">
                            <p class="msg-incentivo"><%= mensagemNull %></p>
                        </div>
                    <% } %>

                </div>
            </section>
        </div>

    </div>

    <!-- Modal -->
    <!-- Aterar Senha -->
    <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                
                <form action="/perfil/estabelecimento?_method=PUT" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="senhaAtual">Senha atual</label>
                            <input type="password" class="form-control" id="senhaAtual" aria-describedby="passwordHelp"
                            placeholder="Senha" name="senha" required>
                            <!-- <small id="passwordHelp" class="form-text text-muted"><a href="">Esqueceu a senha?</a></small> -->
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova senha</label>
                            <input type="password" class="form-control" id="novaSenha" placeholder="Senha" name="senhaNova" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme a nova senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha" name="senhaNovaConfirmar" required>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Alterar senha</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>

    <script>
        let id_usuario = '<%- dadosUsuario.id_usuario %>';
    </script>

    <script>
        let nome_usuario = '<%- dadosUsuario.nome %>';
    </script>

    <script src="/javascripts/btnSeguirPerfilEstab.js"></script>

    <%- include('./partials/footer.ejs') %>