<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Perfil - Editar</title>
    <link rel="shortcut icon" href="/img/icone.png" type="image/x-icon">
    <!-- estilo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/geral.css">
    <link rel="stylesheet" href="/stylesheets/perfil-estab.css">
    <link rel="stylesheet" href="/stylesheets/perfil-estab-editar.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
</head>

<body>
    <form action="/perfil/editar/estabelecimento?_method=PUT" method="POST">
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand">                    
                    <a class="navbar-brand" href="/home"><img src="/img/logo_5000x1500.png" alt="Band+" width="150"></a>                        
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil/estabelecimento">
                                <button type="button" class="btn btn-outline-cancelar">Cancelar</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <button type="submit" class="btn btn-salvar">Salvar</button>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="perfil-container">

            <% if (errors.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Não foi possível fazer a alteração solicitada!</h5>
                    <hr>
                    <ul class="error">
                        <% for( let i = 0; i < errors.length; i++ ) { %>
                            <li>- <%= errors[i].msg %>  </li>
                        <% } %>
                    </ul>
                </div>
            <% } %>

            <!-- Mensagem de erro (flash - avatar) -->
            <% if (errorsImage.length) { %>
                <div class="alert alert-danger" role="alert">
                    <h5>Não foi possível fazer a alteração solicitada!</h5>
                    <hr>
                    <p class="error">- <%= errorsImage %></p>
                </div>
            <% } %>
        
            <!-- Grupo Head -->
            <section id="head" class="card-perfil">
                <div class="head-fundo fundo-content">
                    <a data-toggle="modal" data-target="#alterarFundo" href="">
                        <img src=<%= dadosUsuario.wallpaper %> alt="Foto de fundo" class="wallpaper">
                        <div class="icon"><i class="fas fa-camera"></i></div>
                    </a>
                </div>
                <div class="avatar-content">
                    <a data-toggle="modal" data-target="#alterarAvatar" href="">
                        <img src=<%= dadosUsuario.avatar %> alt="Foto de Perfil" class="avatar">
                        <div class="icon"><i class="fas fa-camera"></i></div>
                    </a>
                </div>
                <div class="info-user">
                    <div class="form">
                        <div class="form-group">
                            <textarea class="form-control" id="textareaUserName" rows="1" name="nome"><%= usuario.nome %></textarea>
                        </div>
                    </div>
                    <div class="info-user-status">
                        <div class="media">
                            <img src="/img/icones/icon_star.svg">
                            <p>Seguidores: <%= totalSeguidores %></p>
                        </div>
                        <div class="media">
                            <img src="/img/icones/icon_headset.svg">
                            <p>Seguindo: <%= totalSeguindo %></p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Grupo Bio - Sobre -->
            <section id="bio2" class="card-perfil">
                <h4><strong>Sobre o estabelecimento</strong></h4>
                <div class="form">
                    <div class="form-group">
                        <textarea class="form-control" id="textareaBio" name="sobre"
                        <% if (!dadosEstab.sobre) { %>
                            placeholder="Fique à vontade para usar esse espaço para divulgar o seu estabelecimento e desperte o interesse dos outros usuários e ganhe muitos seguidores!"
                        <% } %>
                        ><%= dadosEstab.sobre %></textarea>
                    </div>
                </div>
            </section>

            <!-- Grupo Infos -->
            <div class="contato col-lg-6 col-md-12">
                <section id="infos" class="card-perfil">
                    <h4><strong>Contato</strong></h4>
                    <div class="infos-item media">
                        <img src="/img/icones/store-01.png" alt="Estab">
                            <div class="form-group">
                                <select class="custom-select" name="categoria" id="inputServico">
                                    <% tipoCategoria.forEach(categoria => { %>
                                        <% if (dadosEstab.categoria == categoria) { %>
                                            <option selected><%= categoria %></option> 
                                        <% } else { %>
                                            <option value="<%= categoria %>"><%= categoria %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </div>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/pin-01.png" alt="Local">
                            <div class="form-group">
                                <select class="custom-select" name="estado">
                                    <% estados.forEach(estado => { %>
                                        <% if (dadosUsuario.uf == estado.uf) { %>
                                            <option selected><%= estado.uf %></option> 
                                        <% } else { %>
                                            <option value="<%= estado.uf %>"><%= estado.uf %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </div>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/pin-01.png" alt="Local">
                            <div class="form-group">
                                <textarea class="form-control" id="textareaInfos4" rows="1" name="cidade"><%= dadosUsuario.cidade %></textarea>
                            </div>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/site-01.png" alt="Site">
                            <div class="form-group">
                                <textarea class="form-control" id="textareaInfos2" rows="1" name="site"><%= dadosEstab.site %></textarea>
                            </div>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/site-01.png" alt="telefone">
                            <div class="form-group" >
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="<%= dadosEstab.telefone %>" onkeypress="$(this).mask('(00) 00000-0000')">
                            </div>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/site-01.png" alt="email">
                            <div class="form-group">
                                <textarea class="form-control" id="textareaInfos2" rows="1" name="email"><%= usuario.email %></textarea>
                            </div>
                    </div>
                </section>
            </div>

            <!-- Grupo Infos -->
            <div class="func col-lg-6 col-md-12">
                <section id="infosFuncionamento" class="card-perfil">
                    <h4><strong>Funcionamento</strong>
                        <a href=""><i class="fas fa-plus-square"></i></a>
                    </h4>
                    
                    <div class="infos-item">
                        <div class="form">
                            <div class="form-group">
                                <% if (dadosEstab.funcionamento) { %>
                                    <% for( let i = 0; i < dadosFuncionamento.length; i++ ) { %>
                                        <div class="itemFuncionamento">
                                            <input class="diaSemana" id="diaSemana<%= i %>" name="inputDia" value="<%= dadosFuncionamento[i].dia %>" readonly>
                                            <input type="time" class="form-control" id="inputAbertura<%= i %>" value="<%= dadosFuncionamento[i].horario_abertura %>" name="inputAbertura"> 
                                            <input type="time" class="form-control" id="inputFechamento<%= i %>" value="<%= dadosFuncionamento[i].horario_fechamento %>" name="inputFechamento">
                                            <div class="icon-border-none">
                                                <a data-toggle="modal" data-target="#confirmarExclusao" href="">
                                                    <i class="fas fa-trash fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                    <div class="funcionamento">
                                        <p class="msg-incentivo"><%= mensagemNull %></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <ul class="list-unstyled mb-0">
            <li><a href="">Políticas</a> | <a href="/ajuda">Ajuda</a> | <a href="/faleConosco"><strong>Fale Conosco</strong></a></li>
            <li>
                <span class="copyright">Copyright &copy;
                    2020 -
                    <img src="/img/icone.png" width="20">
                    Band+ by Group 1
                </span>
            </li>
        </ul>
    </footer>

    <!-- Modal -->
    <!-- Aterar Fundo -->
    <div class="modal fade" id="alterarFundo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar o plano de fundo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form action="/perfil/editar/estabelecimento/wallpaper?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="wallpaper" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Aterar Avatar -->
    <div class="modal fade" id="alterarAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Atualizar a imagem</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <form action="/perfil/editar/estabelecimento/avatar?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formControlFileImg">Escolha uma imagem</label>
                            <input type="file" class="form-control-file" id="formControlFileImg" accept="image/*" name="avatar" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-salvar-modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Confirmar Exclusão -->
    <div class="modal fade" id="confirmarExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title danger" id="exampleModalLabel">Atenção!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="danger">Tem certeza que quer excluir esta habilidade?</p>
                    <p>Depois de excluir, você não poderá desfazer esta ação.</p>
                </div>
                <form class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>

</html>