<%- include('./partials/header.ejs', { active: "Perfil" , css: "perfil-banda.css"}) %>

<div class="perfil-container">

    <!-- Grupo Head -->
    <% if (errors.length) { %>
    <div class="alert alert-danger" role="alert">
        <h5>Não foi possível alterar a senha...</h5>
        <hr>
        <ul class="error">
            <% for( let i = 0; i < errors.length; i++ ) { %>
            <li>- <%= errors[i].msg %> </li>
            <% } %>
        </ul>
    </div>
    <% } %>

    <!-- Grupo Head -->
    <section id="head" class="card-perfil">
        <div class="head-fundo">
            <img class="wallpaper" src="<%= dadosUsuarioBanda.wallpaper %>" alt="Foto de fundo">
        </div>

        <div class="avatar-content">
            <img class="avatar" src="<%= dadosUsuarioBanda.avatar %>" alt="Foto de Perfil">
        </div>

        <div class="info-user">
            <h3><strong><%= dadosUsuarioBanda.nome %> </strong></h3>
            <div class="info-user-status">
                <div class="media">
                    <img src="/img/icones/icon_star.svg">
                    <p>Seguidores: <%= seguidores %></p>
                </div>

                <div class="media">
                    <img src="/img/icones/icon_headset.svg">
                    <p>Seguindo: <%= seguindo %></p>
                </div>

                <div class="media">
                    <img src="/img/icones/icon_genero.svg">
                    <p>Gênero: <%= dadosBanda.genero %></p>
                </div>

            </div>
        </div>
        <% if (dadosBanda.id_usuario === usuario.id_usuario) { %>
            <div class="config">
                <button type="button" class="btn-config dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/perfil/editar/banda">
                        Editar Perfil
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha" href="#">
                        Alterar Senha
                    </a>
                </div>
            </div>
        <% } %>    
    </section>

    <!-- Grupo Bio -->
    <section id="bio" class="card-perfil">

        <h4><strong>Sobre a banda</strong></h4>
        <div class="bio-scroll">
            <% if (dadosBanda.sobre) { %>
            <p class="text-justify">
                <%= dadosBanda.sobre %>
            </p>
            <% } else { %>
            <p class="msg-incentivo">
                Fique à vontade para usar esse espaço divulgando o seu talento e desperte o interesse dos outros
                usuários e ganhe muitos seguidores!
            </p>
            <% } %>
        </div>

    </section>

    <div class="container integ-info">
        <div class="row">

            <!-- Grupo Integrantes -->
            <section id="integrantes" class="card-perfil col-lg-6 col-md-12">
                <h4><strong>Integrantes</strong></h4>
                <div class="scroll">
                    <div class="item row">
                        <% integrantes.forEach(integrante => { %>
                        <div class="integrantes-item media col-xl-6 col-lg-12 col-6">
                            <div class="container-img"><img src=<%= integrante.avatar %> class="mr-3"
                                    alt="Foto-Usuário"></div>
                            <div class="media-body">
                                <h5 class="mt-0"> <%= integrante.nome %> </h5>
                                <p> <%= integrante.funcao %> </p>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </section>

            <!-- Grupo Infos -->
            <div class="info col-lg-6 col-md-12">
                <section id="infos" class="card-perfil">
                    <h4><strong>+ Infos</strong></h4>
                    <div class="infos-item media">
                        <img src="/img/icones/pin-01.png" alt="Local">
                        <p><%= dadosUsuarioBanda.cidade %> / <%= dadosUsuarioBanda.uf %> </p>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/site-01.png" alt="Site">
                        <% if (dadosBanda.site) { %>
                        <p><%= dadosBanda.site %></p>
                        <% } else { %>
                        <p class="msg-incentivo">Ops, você não informou este campo</p>
                        <% } %>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/canal-01.png" alt="Canal">
                        <% if (dadosBanda.canal) { %>
                        <p><%= dadosBanda.canal %></p>
                        <% } else { %>
                        <p class="msg-incentivo">Ops, você não informou este campo</p>
                        <% } %>
                    </div>
                    <div class="infos-item media">
                        <img src="/img/icones/email-01.png" alt="Email">
                        <p><%= dadosUsuarioBanda.email %> </p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Grupo Minha Música -->
    <section id="minhaMusica" class="card-perfil">
        <h4><strong>Minha música</strong></h4>
        <div class="row">
            <% if (!videos.length && !audios.length) { %>
            <p class="msg-incentivo">Adicione sua música para que o seu perfil ganhe mais destaque.</p>
            <% } %>
            <% if (videos.length) { %>
            <% videos.forEach(video => { %>
            <% if (video.tipo == "arquivo") { %>
            <div class="musica-item col-xl-6 col-sm-12">
                <video controls>
                    <source src="<%= video.caminho %>" type="video/mp4">
                    <source src="<%= video.caminho %>" type="video/ogg">
                    <p>Seu browser não suporta este recurso</p>
                </video>
                <h5><%= video.titulo %></h5>
            </div>
            <% } %>
            <% if (video.tipo == "link") { %>
            <div class="musica-item col-xl-6 col-sm-12">
                <iframe src="https://www.youtube.com/embed/x5YP_oLcgpg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h5><%= video.titulo %></h5>
            </div>
            <% } %>
            <% }) %>
            <% } %>

            <% if (audios.length) { %>
            <% audios.forEach(audio => { %>
            <% if (audio.tipo == "arquivo") { %>
            <div class="musica-item col-xl-6 col-sm-12">
                <div class="player">
                    <audio controls>
                        <source src="<%= audio.caminho %>" type="audio/mpeg">
                        <source src="<%= audio.caminho %>" type="audio/ogg">
                        <p>Seu browser não suporta este recurso</p>
                    </audio>
                </div>
                <h5><%= audio.titulo %></h5>
            </div>
            <% } %>
            <% if (audio.tipo == "link") { %>
            <div class="musica-item col-xl-6 col-sm-12">
                <iframe scrolling="no" frameborder="no" allow="autoplay" src="<%= audio.caminho %>"></iframe>
                <h5><%= audio.titulo %></h5>
            </div>
            <% } %>
            <% }) %>
            <% } %>
        </div>

        <div class="carregar">
            <button type="button" class="btn btn-carregar">Carregar + Músicas</button>
        </div>
    </section>
</div>

<!-- Modal -->
<!-- Alterar Senha -->
<div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>

            <form action="/perfil/banda/<%= dadosBanda.id_banda %>?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="senhaAtual">Senha atual</label>
                        <input type="password" class="form-control" id="senhaAtual" aria-describedby="passwordHelp"
                            placeholder="Senha" name="senha" required>
                        <small id="passwordHelp" class="form-text text-muted"><a href="">Esqueceu a senha?</a></small>
                    </div>
                    <div class="form-group">
                        <label for="novaSenha">Nova senha</label>
                        <input type="password" class="form-control" id="novaSenha" placeholder="Senha" name="senhaNova"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="confirmarSenha">Confirme a nova senha</label>
                        <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha"
                            name="senhaNovaConfirmar" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-salvar-modal">Alterar senha</button>
                </div>
            </form>

        </div>

    </div>
</div>

<%- include('./partials/footer.ejs') %>