<%- include('./partials/header.ejs', { active: "Perfil" , css: "perfil-musico.css"}) %>

    <div class="perfil-container">
        
    <!-- Grupo Head -->
        <section id="head" class="card-perfil">
            <div class="head-fundo">
                <img src="<%= dadosUsuario.wallpaper %>" alt="Foto de fundo" class="wallpaper">    
            </div>

            <div class="avatar-content">
                <img src="<%= dadosUsuario.avatar %>" alt="Foto de Perfil" class="avatar">
            </div>
            <div class="info-user">
                <h3><strong><%= usuario.nome %> </strong></h3>
                <div class="info-user-status">
                    <div class="media">
                        <img src="/img/icones/icon_star.svg">
                        <p>Seguidores: <%= seguidores %> </p>
                    </div>
                    <div class="media">
                        <img src="/img/icones/icon_headset.svg">
                        <p>Seguindo: <%= seguindo %> </p>
                    </div>
                </div>
            </div>
            <div class="config">
                <button type="button" class="btn-config dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/perfil/editar/musico/<%= usuario.id_usuario %>">
                        <h4>Editar Perfil</h4>
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha" href="#">
                        <h4>Alterar Senha</h4>
                    </a>
                </div>
            </div>
        </section>

    <!-- Grupo Bio -->
        <section id="bio" class="card-perfil">

            <h4><strong>Sobre mim</strong></h4>
            <div class="bio-scroll">
                <p class="text-justify">
                    <% if (dadosMusico.sobre) { %>
                        <%= dadosMusico.sobre %>
                    <% } else { %>
                        Fique à vontade para usar esse espaço divulgando o seu talento e desperte o interesse dos outros usuários e ganhe muitos seguidores! 
                    <% } %>
                </p>
            </div>

        </section>

        <div class="container habil-info">
            <div class="row">

    <!-- Grupo Habilidades -->
                <div class="hab col-lg-6 col-md-12">
                    <section id="habilidades" class="card-perfil">
                        <h4><strong>Habilidades</strong></h4>
                        <div class="scroll">
                            <div class="item row">
                                <% if (!dadosMusico.canto && !instrumentos.length && !tecnicos.length) { %>
                                    <p>Adicione suas habilidades para que o seu perfil ganhe mais destaque.</p>
                                <% } %>
                                <% if (dadosMusico.canto) { %>
                                    <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                        <img src="/img/icones/cantar-01.png" alt="Canto">
                                        <p>Canto</p>
                                    </div>
                                <% } %>
                                <% if (instrumentos.length) { %>
                                    <% instrumentos.forEach(instrumento => { %>
                                        <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                            <img src="/img/icones/tocar-01.png" alt="Toco">
                                            <p><%= instrumento %></p>
                                        </div>
                                    <% }) %>
                                <% } %>
                                <% if (tecnicos.length) { %>
                                    <% tecnicos.forEach(tecnico => { %>
                                        <div class="habilidades-item media col-xl-6 col-lg-12 col-6">
                                            <img src="/img/icones/palco-01.png" alt="Técnico">
                                            <p><%= tecnico %> </p>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </section>
                </div>

    <!-- Grupo Infos -->
                <div class="info col-lg-6 col-md-12">
                    <section id="infos" class="card-perfil">
                        <h4><strong>+ Infos</strong></h4>
                        <div class="infos-item media">
                            <img src="/img/icones/pin-01.png" alt="Local">
                            <p><%= cidade %>  / <%= estado %> </p>
                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/site-01.png" alt="Site">
                            <p>
                                <% if (dadosMusico.site) { %>
                                    <%= dadosMusico.site %>
                                <% } else { %>
                                    Ops, você não informou este campo
                                <% } %>
                            </p>

                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/canal-01.png" alt="Canal">
                            <p>
                                <% if (dadosMusico.site) { %>
                                    <%= dadosMusico.canal %>
                                <% } else { %>
                                    Ops, você não informou este campo
                                <% } %>
                            </p>
                        </div>
                        <div class="infos-item media">
                            <img src="/img/icones/email-01.png" alt="Email">
                            <p><%= usuario.email %> </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    <!-- Grupo Minha Música -->
        <section id="minhaMusica" class="card-perfil">
            <h4><strong>Minha música</strong></h4>            
            <div class="row">
                <% if (!videos.length && !audios.length) { %>
                    <p>Adicione sua música para que o seu perfil ganhe mais destaque.</p>
                <% } %>
                <% if (videos.length) { %>
                    <% videos.forEach(video => { %>
                        <% if (video.tipo == "arquivo") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <video controls>
                                    <source src="<%= video.caminho %>" type="video/mp4">
                                    <source src="<%= video.caminho %>" type="video/ogg">
                                    <p>Seu browser não suporta este recurso</p>
                                </video>
                                <h5><%= video.titulo %></h5>
                            </div>
                        <% } %>
                        <% if (video.tipo == "link") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <iframe src="<%= video.caminho %>" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <h5><%= video.titulo %></h5>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>
                
                <% if (audios.length) { %>
                    <% audios.forEach(audio => { %>
                        <% if (audio.tipo == "arquivo") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <div class="player">
                                    <audio controls>
                                        <source src="<%= audio.caminho %>" type="audio/mpeg">
                                        <source src="<%= audio.caminho %>" type="audio/ogg">
                                        <p>Seu browser não suporta este recurso</p>
                                    </audio>
                                </div>
                                <h5><%= audio.titulo %></h5>
                            </div>
                        <% } %>
                        <% if (audio.tipo == "link") { %>
                            <div class="musica-item col-xl-6 col-sm-12">
                                <iframe scrolling="no" frameborder="no" allow="autoplay"
                                    src="<%= audio.caminho %>"></iframe>
                                <h5><%= audio.titulo %></h5>
                            </div>
                        <% } %>
                    <% }) %>
                <% } %>
            </div>

            <div class="carregar">
                <button type="button" class="btn btn-carregar">Carregar + Músicas</button>
            </div>
        </section>
    </div>

    
    
    <!-- Modal -->
    <!-- Aterar Senha -->
    <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="senhaAtual">Senha atual</label>
                            <input type="password" class="form-control" id="senhaAtual" aria-describedby="passwordHelp"
                            placeholder="Senha">
                            <small id="passwordHelp" class="form-text text-muted"><a href="">Esqueceu a senha?</a></small>
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova senha</label>
                            <input type="password" class="form-control" id="novaSenha" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme a nova senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha">
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-salvar-modal">Alterar senha</button>
                </div>
                
            </div>

        </div>
    </div>

<%- include('./partials/footer.ejs') %>