<%- include('./partials/header.ejs', { active: "Perfil" , css: "perfil-estab.css"}) %>

    <div class="perfil-container">
        
        <!-- Grupo Head -->
        <section id="head" class="card-perfil">
            <div class="head-fundo">
                <img src=<%= dadosView.wallpaper %> alt="Foto de fundo" class="wallpaper">    
            </div>
            <div class="avatar-content">
                <img src=<%= dadosView.avatar %> alt="Foto de Perfil" class="avatar">
            </div>
            <div class="info-user">
                <h3><strong><%= usuario.nome %></strong></h3>
                <div class="info-user-status">
                    <div class="media">
                        <img src="/img/icones/icon_star.svg">
                        <p>Seguidores: <%= dadosView.totalSeguidores %></p>
                    </div>
                    <div class="media">
                        <img src="/img/icones/icon_headset.svg">
                        <p>Seguindo: <%= dadosView.totalSeguindo %></p>
                    </div>
                </div>
            </div>
            <div class="config">
                <button type="button" class="btn-config dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="perfil-estab-editar.html">
                        <h4>Editar Perfil</h4>
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#alterarSenha" href="#">
                        <h4>Alterar Senha</h4>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#excluirConta" href="#">
                        <p>Excluir a conta</p>
                    </a>
                </div>
            </div>
        </section>

        <!-- Grupo Infos -->
        <section id="infos" class="card-perfil">
            <h4><strong>Contato</strong></h4>
            <div class="infos-item media">
                <img src="/img/icones/store-01.png" alt="Estab">
                <p><%= dadosView.categoria %></p>
            </div>
            <div class="infos-item media">
                <img src="/img/icones/pin-01.png" alt="Local">
                <p><%= dadosView.local %></p>
            </div>
            <div class="infos-item media">
                <img src="/img/icones/site-01.png" alt="Site">
                <p><%= dadosView.site %></p>
            </div>
            <!-- <div class="infos-item media">
                <img src="/img/icones/canal-01.png" alt="Canal">
                <p>JaneeeeD</p>
            </div>
            <div class="infos-item media">
                <img src="/img/icones/email-01.png" alt="Email">
                <p>jane.doe@email.com</p>
            </div> -->
        </section>

        <!-- Grupo Bio -->
        <section id="bio2" class="card-perfil">
            <h4><strong>Sobre o estabelecimento</strong></h4>
            <div class="bio-scroll">
                <p class="text-justify">
                    <%= dadosView.sobre %>
                </p>
            </div>
        </section>

        <!-- Grupo Funcionamento -->
        <section id="infosFuncionamento" class="card-perfil">
            <h4><strong>Funcionamento</strong></h4>
            <div class="infos-item">

                <% if (dadosView.funcionamento) { %>
                    <% for( let i = 0; i < dadosView.dadosFunc.length; i++ ) { %>
                        <p> <strong><%= dadosView.dadosFunc[i].dia %>:</strong> <%= dadosView.dadosFunc[i].horario_abertura %> - <%= dadosView.dadosFunc[i].horario_fechamento %></p>
                    <% } %>
                <% } %>

            </div>
        </section>

        <!-- Grupo Bio -->
        <section id="bio" class="card-perfil">
            <h4><strong>Serviços</strong></h4>
            <div class="bio-scroll">
                <p class="text-justify">
                    <%= dadosView.servicos %>
                </p>
            </div>
        </section>

    </div>

    <!-- Modal -->
    <!-- Aterar Senha -->
    <div class="modal fade" id="alterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAlterarSenha">Alterar a senha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="senhaAtual">Senha atual</label>
                            <input type="password" class="form-control" id="senhaAtual" aria-describedby="passwordHelp"
                                placeholder="Senha">
                            <small id="passwordHelp" class="form-text text-muted"><a href="">Esqueceu a senha?</a></small>
                        </div>
                        <div class="form-group">
                            <label for="novaSenha">Nova senha</label>
                            <input type="password" class="form-control" id="novaSenha" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme a nova senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Senha">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-salvar-modal">Alterar senha</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Excluir conta -->
    <div class="modal fade" id="excluirConta" tabindex="-1" role="dialog" aria-labelledby="modalExcluiConta" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalExcluiConta">Excluir sua conta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>  
                <div class="modal-body">
                    <p>Olá, <strong>Jane Doe</strong>.</p>
                    <p>É uma pena que você queira excluir a sua conta.</p>
                    <div class="form-group">
                        <label for="motivoExcluir">Por que você está excluindo a sua conta?</label>
                        <select class="form-control" id="motivoExcluir">
                            <option class=" selected" selected disabled>Escolha...</option>                                
                            <option>Uma segunda conta foi criada</option>
                            <option>Problemas para começar</option>
                            <option>Questões de privacidade</option>
                            <option>Quero remover algo</option>
                            <option>Não consigo achar pessoas para seguir</option>
                            <option>Ocupa muito do meu tempo</option>
                            <option>Outro motivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="danger" for="dangerSenha">Para confirmar a ação insira a sua senha.</label>
                        <input type="password" class="form-control" id="dangerSenha" placeholder="Senha">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelar-modal" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>