<%- include('./partials/header.ejs', { active: "Vagas" , css: "vagas.css"}) %>
    
    <main class="container-vagas">

        <!-- Publicar Vagas -->
        <button type="button" class="publicar-vaga" data-toggle="modal" data-target="#publicarNovaVaga"> 
            <div class="formulario-nova-vaga">
                <h4>Publicar nova vaga</h4>
                <img src="/img/icones/menu-999999.png" alt="menu" width="35">
            </div>
        </button>

        <div class="feed">
            <!-- Pesquisar Vagas -->
            <section class="pesquisar-vaga">
                <div class="formulario-pesquisar-vaga">
                    <div class="radio">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio4" name="customRadio2" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio4">Banda</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio5">Professor</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio6" name="customRadio2" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio6">Estabecimento</label>
                        </div>
                    </div>
                    <form action="" method="POST">
                        <div class="form-buscar-vaga form-group">
                            <input type="buscarVaga" class="form-control" id="buscarVaga" placeholder="Buscar vaga">
                            <input type="localNovaVaga" class="form-control" id="localNovaVaga" placeholder="Local">
                            <button type="button" class="btn btn-Publicar">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Feed de Vagas -->
            <section class="feed-vagas"> 
                <div class="feed-vagas-conteudo">
                    <div class="radio-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio7" name="radioFeed" class="custom-control-input" checked>
                            <label class="custom-control-label" for="customRadio7">Feed de Vagas</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadio8" name="radioFeed" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio8">Minhas Vagas</label>
                        </div>
                    </div>

                    <% for( let i = 0; i < dadosVagas.length; i++ ) { %>
                        <div class="conteudo-vaga">
                            <h5><%= dadosVagas[i].titulo %></h5>
                            <p><%= dadosVagas[i].descricao %></p>
                            <p><%= dadosVagas[i].cidade_vaga %> / <%= dadosVagas[i].estado_vaga %></p>
                            <a href=""><%= dadosVagas[i].nome %></a>
                        </div>
                    <% } %>

                    <% for( let i = 0; i < dadosMinhasVagas.length; i++ ) { %>
                        <div class="conteudo-minha-vaga">
                            <h5><%= dadosMinhasVagas[i].titulo %></h5>
                            <p><%= dadosMinhasVagas[i].descricao %></p>
                            <p><%= dadosMinhasVagas[i].cidade_vaga %> / <%= dadosMinhasVagas[i].estado_vaga %></p>
                            <div>
                                <a href="">Editar</a>
                                <a href="">Excluir</a>
                            </div>
                        </div>
                    <% } %>
                    
                    <div class="botao">
                        <button type="button" class="btn btn-mais">+ Vagas</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    
    <!-- Modal - Publicar Vaga -->
    <div class="modal fade" id="publicarNovaVaga" tabindex="-1" role="dialog" aria-labelledby="modalPublicarNovaVaga" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" action="/vagas/novaVaga" method="POST" >
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Publicar nova vaga</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body" id="publicarNovaVaga2">
                    <div class="radio">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="tipoVaga1" name="tipoVaga" class="custom-control-input" value="Banda" checked>
                            <label class="custom-control-label" for="tipoVaga1">Banda</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="tipoVaga2" name="tipoVaga" class="custom-control-input" value="Professor">
                            <label class="custom-control-label" for="tipoVaga2">Professor</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="tipoVaga3" name="tipoVaga" class="custom-control-input" value="Estabecimento">
                            <label class="custom-control-label" for="tipoVaga3">Estabecimento</label>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <input class="form-control" id="tituloNovaVaga" name="tituloNovaVaga" placeholder="Título da vaga">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="inputEstado" name="estado">
                                <option value="" disabled selected hidden>Escolha um Estado</option>
                                <% estados.forEach((estado)=>{ %>
                                    <option><%= estado.uf %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="inputCidade" name="cidade" placeholder="Cidade">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="descricaoNovaVaga" name="descricaoNovaVaga" placeholder="Descrição da vaga">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-Publicar">Publicar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal - Editar vaga -->
    <div class="modal fade" id="editarVaga" tabindex="-1" role="dialog" aria-labelledby="modalEditarVaga" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Editar vaga</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            </div>
            <div class="modal-body" id="editarVaga2">
                <form action="" method="POST">
                    <div class="form-group" id="textareaTituloVagaDiv">
                        <textarea class="form-control" id="textareaTituloVaga" rows="1">Título da vaga</textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="textareaDescricaoVaga" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="textareaLocalVaga" rows="1">Local</textarea>
                    </div>
                </form>
            </div>
            <form action="" method="POST">
                <div class="modal-footer">
                    <button type="button" class="btn btn-Salvar">Salvar</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>